@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
.home {
  width: auto;
  height: 1000px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-row: auto auto auto;
}

.archiveroicono {
  grid-column-start: 2;
  grid-column-end: 3;
  align-content: space-around;
  justify-content: center;
}

.home h1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.arrow {
  width: 50px;
  height: 50px;
  display: grid;
  grid-row-start: 3;
  grid-row-start: 3;
  align-content: end;
}

.arrow:before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #5A5351;
  top: 50%;
  transition: width 0.5s ease-out;
}
.arrow:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #5A5351;
  border-right: 1px solid #5A5351;
  transform: rotate(45deg);
  top: calc(50% - 5px);
  position: absolute;
  right: 1px;
}
.arrow:hover {
  cursor: pointer;
  /* .arrow:before {
    width: 80px;
  } */
}