@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
.whiteView {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 1300px;
}

.archiveroicono {
  width: 864px;
  height: 486px;
}


.blackView {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 1300px;
  background-color: black;
  color: white;
}


.arrow, .arrowwhite {
  width: 50px;
  height: 50px;
}

/* .arrow:before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: #5a5351;
  top: 50%;
  transition: width 0.5s ease-out;
}
.arrow:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #5a5351;
  border-right: 1px solid #5a5351;
  transform: rotate(45deg);
  top: calc(50% - 5px);
  position: absolute;
  right: 1px;
}
.arrow:hover {
  cursor: pointer;
  /* .arrow:before {
    width: 80px;
  } */
} */
