@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
.home {
  width: auto;
  height: 1000px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-row: auto auto auto;
}

.archiveroicono {
  grid-column-start: 2;
  grid-column-end: 3;
  align-content: space-around;
  justify-content: center;
}

.home h1 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.arrow {
  width: 50px;
  height: 50px;
  display: grid;
  grid-row-start: 3;
  grid-row-start: 3;
  align-content: end;
}
